.container {
  margin-top: 50px;
}

.title {
  font-size: 24px;
  color: #001f3f; /* Navy Blue */
  margin-bottom: 20px;
}

.sprint-form {
  background-color: #f9f9f9;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  display: block; /* Ensure labels appear on their own line */
  margin-bottom: 5px; /* Add space between label and input */
}

input[type="text"],
input[type="date"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.btn-primary {
  background-color: #001f3f;
  border-color: #001f3f;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #003366;
}

.success-message {
  color: #28a745; 
}

.error-message {
  color: #dc3545; 
}
