<div class="container">
    <h2>Add Sprint</h2>
    <form [formGroup]="addSprintForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" id="name" formControlName="name" required>
      </div>
      <div class="form-group">
        <label for="startDate">Start Date:</label>
        <input type="date" class="form-control" id="startDate" formControlName="startDate" required>
      </div>
      <div class="form-group">
        <label for="endDate">End Date:</label>
        <input type="date" class="form-control" id="endDate" formControlName="endDate" required>
      </div>
      <button type="submit" class="btn btn-primary">Add Sprint</button>
      <div class="text-success mt-3" *ngIf="successMessage">{{ successMessage }}</div>
      <div class="text-danger mt-3" *ngIf="errorMessage">{{ errorMessage }}</div>
    </form>
  </div>
  