<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kanban System</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>  
    <header>
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <div class="logo">Kanban</div>
            </div>
        </nav>
    </header>
    <main>
        <section class="hero">
            <div class="container">
                <h1>Welcome to Kanban System</h1>
                <p>Optimize your team's workflow with our intuitive Kanban project management tool.</p>
                <div class="nav-buttons ml-auto">
                    <a href="/login" class="btn btn-outline-light sign-in">Let's explore ...</a>
                </div><br><br>
                <img src="assets/logiciel-kanban.jpeg" alt="Image description" class="img-fluid rounded-circle" style="width: 250px; height: 250px;">
            </div>
        </section>
    </main>
    
    <footer>
        <div class="container">
            <p>© 2024 Kanban. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>
