<h2>List of Boards</h2>

<div class="card-container">
  <div class="card" *ngFor="let board of boards" (click)="showTasks(board.id)">
    <div class="card-header">
      <h3>{{ board.name }}</h3>
    </div>
    <div class="card-content">
      <p>{{ board.description }}</p>
      <p>Date Created: {{ board.dateCreation | date:'dd/MM/yyyy'}}</p>
      <p>User: {{ board.user.username }}</p>
    </div>
  </div>
</div>

<button class="btn-add" (click)="goToAddBoard()">Add Board</button> <br><br>
<button class="btn-sprints" (click)="goToSprint()">Sprints</button>
