.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centrer les cartes horizontalement */
  gap: 20px;
  margin-top: 20px;
}

.card {
  width: 300px;
  border-radius: 5px;
  margin-bottom: 20px;
  background-color: #f4f5f7;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  margin: 0 auto; /* Centrer les cartes horizontalement */
}
h2{
  margin-top: 40px;
  margin-bottom: 70px;
  font-size: 32px; /* Augmenter la taille de la police */
  color: #333;
  text-align: center; /* Centrer le texte */
  font-weight: bold; /* Mettre en gras */
  text-transform: uppercase; /* Mettre en majuscules */
  font-family: Arial, sans-serif;
} 

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-header {
  background-color: #001f3f;
  color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 15px;
  text-align: center;
}

.card-content {
  padding: 15px;
}

.btn-delete, .btn-add, .btn-sprints {
  margin-top: 10px;
  background-color: #dc3545;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-add {
  background-color: #0079bf;
}

.btn-sprints {
  background-color: #61bd4f;
}

.btn-delete:hover, .btn-add:hover, .btn-sprints:hover {
  background-color: #c82333;
}
