<h2 class="title">List of Sprints</h2>
<ul class="sprint-list">
  <li *ngFor="let sprint of sprints" class="sprint-item">
    <div class="sprint-details">
      <span class="sprint-name">{{ sprint.name }}</span>
      <div class="sprint-dates">
        <span class="start-date">Start Date: {{ sprint.startDate | date: 'medium' }}</span>
        <span class="end-date">End Date: {{ sprint.endDate | date: 'medium' }}</span>
      </div>
    </div>
    <button class="delete-btn" (click)="deleteSprint(sprint.id)">Delete</button>
  </li>
</ul>
<div class="alert-message" *ngIf="alertMessage">{{ alertMessage }}</div>
<button class="add-sprint-btn" routerLink="/addsprint">Add Sprint</button>
