<div class="card">
  <div class="card-header">
    <h2>Add Task</h2>
  </div>
  <div class="card-content">
    <form (ngSubmit)="onSubmit()" #taskForm="ngForm" class="row g-3">
      <div class="col-md-6">
        <div class="row g-3">
          <div class="col-md-6">
            <label for="name" class="form-label">Name:</label>
            <input type="text" id="name" name="name" [(ngModel)]="taskForm.value.name" class="form-control" required>
          </div>
          <div class="col-md-6">
            <label for="status" class="form-label">Status:</label>
            <select id="status" name="status" [(ngModel)]="taskForm.value.status" class="form-select" required>
              <option value="TODO">TODO</option>
              <option value="IN_PROGRESS">IN_PROGRESS</option>
              <option value="DONE">DONE</option>
            </select>
          </div>
          <div class="col-md-6">
            <label for="board" class="form-label">Board:</label>
            <input type="text" id="board" name="board" [(ngModel)]="selectedBoardName" class="form-control" disabled>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row g-3">
          <div class="col-md-12">
            <label for="description" class="form-label">Description:</label>
            <textarea id="description" name="description" [(ngModel)]="taskForm.value.description" class="form-control" required></textarea>
          </div>
          <div class="col-md-6">
            <label for="estimation" class="form-label">Estimation:</label>
            <input type="number" id="estimation" name="estimation" [(ngModel)]="taskForm.value.estimation" class="form-control" required>
          </div>
          <div class="col-md-6">
            <label for="users" class="form-label">Members:</label>
            <select id="users" name="users" [(ngModel)]="selectedUserIds" class="form-select" required>
              <option *ngFor="let user of users" [value]="user.id">{{ user.username }}</option>
            </select>
          </div>
          <div class="col-md-6">
            <label for="sprints" class="form-label">Sprints:</label>
            <select id="sprints" name="sprints" [(ngModel)]="selectedSprintIds" class="form-select" required>
              <option *ngFor="let sprint of sprints" [value]="sprint.id">{{ sprint.name }}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-primary">Add Task</button>
      </div>
    </form>
  </div>
</div>
